.brandHeader {
  display: flex;
  justify-content: space-around;
  width: 140px;
  margin: 0px auto;
}

.documentationLink{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  padding: 10px 16px;
  width: 140px;
}

.documentationLink:hover{
  color: black;
  background-color: white;
}


.documentationLink img {
  width: 36px;
}

.Nav{
  height: 40px;
  background-color: #2185d0;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appName {
  display: inline-block;
  margin: 10px auto 0px auto;
  font-size: 24px;
}

.logo {
   width: 36px;
   border-radius: 100%;
}


.sponsorLink {
  color: white;
  display: flex;
  font-size: 18px;
  padding: 1.5px 16px;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}

.sponsorLink:hover{
  color: black;
  background-color: rgb(255, 171, 75);
}

.sponsorLink img {
  width: 36px;
}