.Button {
  background-color: rgb(65, 105, 225);
  border: 0;
  color: white;
  font-size: 16px;
  padding: 6px 16px;
  text-transform: uppercase;
}

.Button:hover {
  background-color: rgb(85, 127, 255);
}

.Button:active {
  background-color: rgb(14, 62, 207);
}

.Button-outline {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.Button-outline:hover {
  background-color: rgba(200, 200, 200, .4);
}

.Button-cancel {
  background-color: rgb(214, 52, 52);
}

.Button-cancel:hover {
  background-color: rgb(233, 72, 72);
}

.Button-cancel:active {
  background-color: rgb(201, 17, 17);
}