.TextField input[type=text] {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-radius: 0px;
  color: white;
  padding: 6px 10px;
}

.TextField input[type=text]:focus {
  outline-style: none;
}

.TextField label {
  margin-left: 4px;
}